<div>
  <img src="../../../../assets/Logotipo-con-área-de-protección.png" alt="logo">
  <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h1>Instances</h1>
    <mat-form-field class='form-field'>
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        formControlName="nombre"
        placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class='form-field'>
      <mat-label>Edad</mat-label>
      <input
        type="text"
        matInput
        formControlName="edad"
        placeholder="Edad">
    </mat-form-field>
    <mat-form-field class='form-field'>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Email">
    </mat-form-field>
    <section formGroupName="direccion">
      <h2>Direccion</h2>
      <mat-form-field class='form-field'>
        <mat-label>Calle</mat-label>
        <input
          type="text"
          matInput
          formControlName="calle"
          placeholder="Calle">
      </mat-form-field>
      <mat-form-field class='form-field'>
        <mat-label>Numero</mat-label>
        <input
          type="text"
          matInput
          formControlName="numero"
          placeholder="Numero">
      </mat-form-field>
      <mat-form-field class='form-field'>
        <mat-label>Colonia</mat-label>
        <input
          type="text"
          matInput
          formControlName="colonia"
          placeholder="Colonia">
      </mat-form-field>
      <mat-form-field class='form-field'>
        <mat-label>Municipio</mat-label>
        <input
          type="text"
          matInput
          formControlName="municipio"
          placeholder="Municipio">
      </mat-form-field>
      <mat-form-field class='form-field'>
        <mat-label>Estado</mat-label>
        <input
          type="text"
          matInput
          formControlName="estado"
          placeholder="Estado">
      </mat-form-field>
      <mat-form-field class='form-field'>
        <mat-label>Codigo Postal</mat-label>
        <input
          type="text"
          matInput
          formControlName="codigoPostal"
          placeholder="Codigo Postal">
      </mat-form-field>
    </section>
    <button mat-button type="submit" [disabled]='!profileForm.valid'>Submit</button>
  </form>
</div>

<div>
  <form class="form" [formGroup]="pagosForm" (ngSubmit)="onSubmitPagos()">
    <h1>Form Builder</h1>
    <mat-form-field class='form-field'>
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        formControlName="nombre"
        placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class='form-field'>
      <mat-label>Numero de Tarjeta</mat-label>
      <input
        type="number"
        matInput
        formControlName="numeroTarjeta"
        placeholder="Numero de Tarjeta">
    </mat-form-field>
    <mat-form-field class='form-field'>
      <mat-label>CVV</mat-label>
      <input
        type="number"
        matInput
        formControlName="codigoCVV"
        placeholder="Codigo CVV"
        min="1"
        max="999">
    </mat-form-field>
    <section formGroupName="expiracion" style="display: flex; flex-direction: row; justify-content: space-between;">
      <mat-form-field class='form-field'>
        <mat-label>Dia</mat-label>
        <input
          type="number"
          matInput
          formControlName="dia"
          placeholder="Dia"
          min="1"
          max="31">
      </mat-form-field>
      <mat-form-field class='form-field'>
        <mat-label>Mes</mat-label>
        <input
          type="number"
          matInput
          formControlName="mes"
          placeholder="Mes"
          min="1"
          max="12">
      </mat-form-field>
      <mat-form-field class='form-field'>
        <mat-label>Anio</mat-label>
        <input
          type="number"
          matInput
          formControlName="anio"
          placeholder="Anio"
          min="1910"
          max="2021">
      </mat-form-field>
    </section>
    <button mat-button type="submit" [disabled]='!pagosForm.valid'>Submit</button>
  </form>
</div>
